@include mq($screen-md-min) {
  /* Head */
  .header {
    h1 {
      font-size: em(106px);
      margin-left: 100px;

    }
  }

  .container-craft-fluid {
    width: 65%;
  }

  .container-craft {
    h2 {
      font-size: em(48px);
      font-weight: 500;
      &.quote {
        font-size: em(48px);
      &:before {
        font-size: em(44px);
      }
     }

    }

  }

  .grid {

    .col-3 {
      width: 33.33333333%;
      h3 {
        font-size: em(26px);
      }
      h4 {
        font-size: em(26px);
      }

    }

    .col-2 {
      width: 50%;
      float: left;
      position: relative;
    }
    .contact {
        h3 {
          font-size: em(26px);
        }

        h2 {
          font-size: em(48px);
        }
      }

    .craftsman-picture {
      width: 200px;
      height: 200px;
    }

  }

  .card-content {
    h2 {
      font-size: em(40px);
    }
    p {
      font-size: em(26px);
    }
  }

  .card-actions {
    h2 {
      font-size: em(24px);
    }
  }

}

@include mq($screen-sm-min) {
  .grid {
    .col-3 {
      width: 50%;
    }
  }
}

@include mq($screen-xs-max) {
    .form-card {
      padding: 0;
      margin: 0;
    }
}